
<div class="login_container">

    

    <% if @user.errors.any?    %>
        <strong>Please complete the following errors:</strong>
        <ul>
            <% @user.errors.full_messages.each do |e|  %>
            <li><%= e %></li>
            <% end %>
        </ul>
    <% end  %>
    
    <div class="login_form">
        <h2>Create an account</h2>
        <%= form_with model: @user, local: true do |f| %>
            
            <%= f.text_field :name, placeholder:"choose display name" %>
            <br>
            
            <%= f.text_field :email, placeholder:"email" %>
            <br>
           
            <%= f.password_field :password, placeholder:"password" %>
            <br>
            
            <%= f.password_field :password_confirmation, placeholder:"confirm your password" %> <!--this needs to be in the strong params in the model -->
            <br>
            <%= f.submit class:"button"  %>


        <% end  %>
    </div>


</div>
