<div class="login_form">
    <% if @link.errors.any? %>
        <strong>Please corrrect the following:</strong>
        <ul>
            <% @link.errors.full_messages.each do |e| %>
                <li><%= e %></li>

            <% end %>
        </ul>

    <% end  %>

    <%= form_with model: @link, local: true do |f| %>
        
        <%= f.text_field :name, placeholder: "Name of link" %>
        <br>
        
        <%= f.text_field :url, placeholder: "URL" %>
        <br>
        <%= f.text_area :notes, placeholder: "You can make a note about this link here", size: "20x5" %>
        <br>
        
        

        <%= f.label :hook_id, 'Add to Hook:', class:"label" %>
        <%= f.collection_select :hook_id, Hook.where(user_id: @current_user.id), :id, :title, class:"select_choices"  %>
        <br>
        
       
        
        <%= f.text_field :tag_name, placeholder: 
        "Tag this link as", id:"tag_input" %>
        <br>
         <%= f.label :tag_id,  "Seperate tags with space or comma", class:"label" %>
        
        <ul class="new_tags">
            
        </ul>

        <div class="switch_container"> 
            <p class="label">NSFW?</p>
            <label class="switch">
                <%=  f.check_box :nsfw %>
                <!--<input type="checkbox", name="nsfw" value="nsfw">-->
                <span class="slider round"></span>
            </label>
        </div>
        
        <%= f.submit "Submit", id:"tag_submit" ,class:"button"%>
    <% end %>
</div>