
<% if @hook.errors.any? %>
    <strong>Please corrrect the following:</strong>
    <ul>
        <% @hook.errors.full_messages.each do |e| %>
            <li><%= e %></li>

        <% end %>
    </ul>

<% end  %>

<%= form_with model: @hook, local: true do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :note %>
    <%= f.text_area :note %>
    <br>
    <%= f.label :color %>
    <%= f.color_field :color %>
    <br>
    <%= f.label :image ,"Image URL--may be replaced by Gem"%>
    <%= f.text_field :image %>
    <br>
    <%= f.label :private, 'Make Hook Private?:'%>
    <%= f.radio_button  :private, true %>Yes
    <%= f.radio_button  :private, false %>No<br>
    <br>

    <%= f.submit %>
<% end %>