<div class="login_form" id="new_hookmark_form">
    <% if @hook.errors.any? %>
        <strong>Please corrrect the following:</strong>
        <ul>
            <% @hook.errors.full_messages.each do |e| %>
                <li><%= e %></li>

            <% end %>
        </ul>

    <% end  %>

    <%= form_with model: @hook, local: true do |f| %>

        
        <%= f.text_field :title, placeholder:'What is this Hookmark all about?' %>
        <br>
        
        <%= f.text_area :note, placeholder:'Use this section to describe the Hookmark collection.', size: "30x5" %>
        <br>
        <%= f.label :color, class:"label"%>
        <%= f.color_field :color %>
        <br>
        <div class="switch_container"> 
            <p class="label">Private?</p>
            <label class="switch">
                <%=  f.check_box :private %>
                
                <span class="slider round"></span>
            </label>
        </div>
        

        <%= f.submit class:"button"%>
    <% end %>
</div>