<div class="hook_form_container">
    <% if @hook.errors.any? %>
        <strong>Please corrrect the following:</strong>
        <ul>
            <% @hook.errors.full_messages.each do |e| %>
                <li><%= e %></li>

            <% end %>
        </ul>

    <% end  %>

    <%= form_with model: @hook, local: true do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, placeholder:'What is this Hookmark all about?' %>
        <br>
        <%= f.label :note %>
        <%= f.text_area :note, placeholder:'Use these notes to describe the Hookmark collection.', size: "30x5" %>
        <br>
        <%= f.label :color %>
        <%= f.color_field :color %>
        <br>
        <div class="switch_container"> 
            <p>Private?</p>
            <label class="switch">
                
                <input type="checkbox", name="private">
                <span class="slider round"></span>
            </label>
        </div>
        

        <%= f.submit %>
    <% end %>
</div>