<div class="outer_container">
    <h2 class="hookmark_title" >My Hookmarks</h2>

    <div id="index_box">
  
    <% @hooks.each do |hook| %>    
        <% if @current_user.present? && hook.user.id == @current_user.id %>
    
        <div class="hook_container">
            <div class="color_label", style= "background-color:<%= hook.color %>">
            </div> <!--end color label-->
            <div class="hook_title">
                <h3>
                    <%= hook.title %>
                   
                </h3>
                <%= link_to image_tag("pencil.png"), edit_hook_path(hook.id), class:"more_icon" %>
                 <% if hook.private %>
                        <%= image_tag "exclamation.png", alt: "Private" ,:title => "This Hookmark is set to private"  %>
                    <% end %>
                
            </div><!--end hook title-->

            <div class="notes">
                <p><%= hook.note %></p>
            </div> <!--end notes title-->

            <div class="tags_container">
                <% @name_list = show_unique_tags hook.links %>
                       
                <% @name_list.each do |name|%>
                    <p class ="tags">#<%= link_to name, tags_path + "\/\##{name}" %></p>
                <%  end%>
                                    
                    
               
            </div> <!--end tags container-->
            
            <% hook.links.each do |l| %>
                <% if l.url.size > 8%>
                <ul class="links_list">
                <li class="favicon"> 
                    <%= show_icon l %>
                </li>
                <li> 
                    <%= link_to l.name,  l.url, class:"link_name", target:"_blank" %> 
                        <% if l.url.length < 30  %>
                            (<%= link_to l.url, l.url, class:"link_name"  %>)
                        <% end %>
                    <%= link_to image_tag('pencil.png') , edit_link_path(l.id), class:"edit_delete_icons", id:"pencil_icon"%> <%= image_tag 'bin.png', class:"edit_delete_icons", onclick:"javascript:linkDelete(#{l.id})" %>
                    <% if l.nsfw %>
                        <%= image_tag "exclamation.png", alt: "NSFW", :title => "NSFW Content" %>
                    <% end %>
                    
                    </li>
                </ul>
                <p class="link_notes">
                    <%= l.notes %>
                <p>
                <% end %>
                
               
            
                
       
            <% end %>
            <div class="new_link_hidden">
                <ul>
                    <li class="add_icon"><label for="add_new_link_icon">
                    <%= image_tag "plus.png", class:"add_icon", name: "add_new_link_icon"%>
                    Add New Link</li>
                    <li><li class="hidden_link_form">
                    <%= render partial: "/links/form" , class:"hidden_link_form" %> </li>
                </ul>
                </label>
            
            </div> <!--end new_link hidden-->
                    
           

            
        </div>   <!--end hooks container-->
    
    <% end %> 


          
   <% end %>
    <div class="hidden">
        <label for="add_new_hook_image">
            <%= image_tag "plus.png", id:"add_new_hook_image", onclick:"javascript:showHidden()", name:"add_new_hook_image"  %>
            
        </label>
        <div class="add_new_hook">  
            <h2>Add New Hookmark</h2>
            <%= render partial: 'form' %>

        </div> <!--end add_new_hook-->
    </div><!--end hidden-->
    
     
    </div><!--end index box-->
</div>

