<!DOCTYPE html>
<html>
  <head>
    <title>Hookie: Smart Bookmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>

    <header>
      
        <% if @current_user.present? %>      
          <% if @current_user.image.present? %>
            <%= image_tag @current_user.image, class: 'user_pic', alt: @current_user.name %>
          <% end %>
        <ul>
          <li>Welcome, <%= @current_user.name %></li>
          <%= link_to 'Logout', login_path, method: 'delete' %> 
          <%= link_to 'Create New Hook', new_hook_path %> 
          
          
        <% else  %>
        <ul>
          <li><%= link_to 'Sign In', login_path%></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end  %>
      </ul>

      <h1>HOOKIE</h1>
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'Links', links_path %>
        </li>
        <li>
          <%= link_to 'Hooks', hooks_path %>
        </li>

      </ul>
    
    </header>

    <div class="search_container">
          
      <form action="/search" method="get" accept-charset="UTF-8" >
        <label for="query">Search for:</label>
        <input id="query" name="query" type="text" />
        <input name="commit" type="submit" value="Search" data-disable-with="Search" />
      </form>
    </div>

    <div class="sidebar_container">
      <div class="user_details">
        <p>User image and name goes here</p>
      </div>

    </div>


    <div class="main_container">
    
      <%= yield %>
    
    </div>

    <footer>
      <ul>
        <li>
          &copy; Brendan Tuckerman 2022
        </li>
      </ul>
    </footer>

  </body>
</html>
