<!DOCTYPE html>
<html>
  <head>
    <title>Hookie: Smart Bookmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>

    <header>
      
      <div class="user_container">
        <div class="profile_pic_container">
        <% if @current_user.present? %>      
          <% unless @current_user.image.present? %>
            <%= image_tag "user.png", class: 'user_pic', alt: @current_user.name %>
          <% else %>
            <%= image_tag @current_user.image, class: 'user_pic', alt: @current_user.name %>
            
          <% end %>
        
          </div>
          <ul>
            <li>Welcome, <%= @current_user.name %>  <%=image_tag 'chevron.png', alt:"user menu", id:"user_menu_chevron", onclick:"javascript:showUserMenu()"%></li>
              <div class="hidden_user_menu">
                <ul>
                  <li><%= link_to 'Edit my Details', edit_user_path(@current_user.id) %></li>
                  <br>
                  <li><%= link_to 'Logout', login_path, method: 'delete' %></li> 
                </ul>
              </div>
            
          <% else  %>
          <div class="logged_out">
          <ul>
            <li><%= link_to 'Sign In', login_path%></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
          </div>
          <% end  %>
          
        </ul>

      </div>

    
    
    
    
    </header>

    <div class="search_container">
          
      <form action="/search" method="get" accept-charset="UTF-8" >
        <input id="query" name="query" type="text" placeholder ="Search Hooks"/>
        <input id="search_button" name="commit" type="submit" value="Search" data-disable-with="Search" />
      </form>
    </div>

    <div class="sidebar_container">
        <ul>
          <li>
            <%= link_to 'Create New Hook', new_hook_path %>
          </li>
          <li>
            <%= link_to 'Add Link', new_link_path %>
          </li>
          <li>
             <%= link_to 'All Hooks', hooks_path %>
          </li>


        </ul>
        
      </div>

    </div>


    <div class="main_container">
    
      <%= yield %>
    
    </div>

    <footer>
      <ul>
        <li>
          &copy; Brendan Tuckerman 2022
        </li>
      </ul>
    </footer>

  </body>
</html>
